body{
    /* background-color: black; */
    background-image: url("../images/stars.gif");   
}
h1{
    color: yellow;
    text-align: center;
    
}
#start{
    color: greenyellow;
    text-align: center;
    background-color: transparent;
    border-style: ridge;
    border: thin solid greenyellow;
}