body{
    background-color: black;
    background-image: url("../images/stars.gif");
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
@font-face {
    font-family: 'Starjhol';
    src: url("../fonts/Starjhol.ttf");
}
@font-face {
    font-family: 'Starjedi';
    src: url("../fonts/Starjedi.ttf");
}
h1{
    font-family: 'Starjhol', 'Arial';
    color: yellow;
    text-align: center;
    font-size: 75px;
    margin: 0 auto;
    
}
header{
    text-align: center;
}
#start{
    font-family: 'Starjedi', 'Arial';
    color: greenyellow;
    text-align: center;
    background-color: transparent;
    border-style: ridge;
    border: thin solid greenyellow;
}
#stats{
    margin: 0 0 50px 0 ;
}
#game-container{
    border:  solid white;
    box-shadow: 0 0 20px #9ecaed;
}
